<input [(ngModel)] = "user" type = "text">
<div>
  <ul>
    <todo *ngFor = "let todo of todos" [data] = "todo" (myButtonClicked) = "showText($event)"></todo>

  </ul>
 </div>
 <button (click) = "changeUser()"> Change User </button>
 <div>You've clicked on {{show}}</div>