<form class="example-form">
    <br>

    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
      <mat-hint>Please enter your Email</mat-hint>
    </mat-form-field><br>
    <p class="error" *ngIf="error.code == 'auth/invalid-email'">
      {{error.message}}
    </p>
    <br>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
      <mat-hint>Please enter your password</mat-hint><br>
      <p class="error" *ngIf="error.code == 'auth/weak-password'">
        {{error.message}}
      </p>
    </mat-form-field>
 
    <br>
    <button mat-stroked-button (click)="login()">
      login
    </button>
  </form>