<mat-card>
    <a routerLink = "/login" *ngIf="!(authService.user | async)">Login</a>-
    <button (click) = "logOut()" *ngIf="authService.user | async">
      Log Out
    </button>
  <a routerLink = "/usertodos">usertodos</a>-
  <button (click) = "toRegister()">
    Register
   </button>-
   <button (click) = "toTodos()">
    todos
   </button>
</mat-card>
<div>
    <h1>Welcome {{(authService.user | async)?.displayName }}!</h1>
   </div>