<div>
  <ul>
    <todo *ngFor = "let todo of todos" [data] = "todo" (myButtonClicked) = "showText($event)"></todo>

  </ul>
 </div>

 <div>
    <mat-form-field>
      <input [(ngModel)] = "task" matInput type = "text" placeholder="add todo">
      <mat-hint>Add Todo</mat-hint>
    </mat-form-field>
   </div>
   <div>
    <button mat-raised-button (click) = "addTodo()"> Add Todo </button>
   </div>
