<li (mouseenter) = "buttonOn()"
    (mouseleave) = "buttonOff()">
  <span *ngIf = "!showEditField" (click) = "showEdit()">{{text}}</span>
  <mat-form-field *ngIf = "showEditField">
      <input [(ngModel)]="text" matInput>
  </mat-form-field>
  <button mat-raised-button *ngIf = "showEditField" (click) = "save()">Save</button>
  <button mat-raised-button *ngIf = "showEditField" (click) = "cancel()">Cancel</button>

    <button mat-raised-button
            (click) = "delete()"
            *ngIf = "showButton">delete todo
    </button>
</li>