<form class="example-form">
    <br>
    <h2> Sign Up </h2>
    <div>
      <mat-form-field class="example-full-width">
        <input [(ngModel)] = "name" name = "name" matInput placeholder="First Name">
        <mat-hint>Please enter your first name</mat-hint>
      </mat-form-field>
    </div>
    <div class = "error" *ngIf = "name == null">
      {{required}}
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
        <mat-hint>Please enter your Email</mat-hint>
      </mat-form-field>
    </div>
    <div class = "error" *ngIf = "code == 'auth/invalid-email' || code == 'auth/email-alrady-in-use'">
      {{error.message}}
      <br>
    </div>
    <div class="error" *ngIf = "email == null">
      {{required}}
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
        <mat-hint>Please enter your password</mat-hint>
      </mat-form-field>
    </div>
    <div class="error" *ngIf="code == 'auth/weak-password'">
      {{message}}
    </div>
    <div class = "error" *ngIf = "password == null">
      {{required}}
    </div>
    <div class = "error" *ngIf = "wrong != ''">
      {{wrong}}
    </div>
    <br>
    <button mat-stroked-button (click)="signUp()">
      Sign Up
    </button>
  </form>